body {
    display: flex;
    text-align: center;
    /* justify-content: center;  */
    align-items: center;
}

.top-nav {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    border-radius: 12px;
    width: 700px;
}

.top-nav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: whitesmoke;
    color: black;
}
